

#jewels {
	padding: 15px;
	margin: 15px;
}

span {
	margin-left: 10px;
	font-size:1.5rem;
	
}

.jumbotron {
	padding:5px;
	margin:15px;
	margin-left:10%;
	background-color: cyan;
}
body {
	background: aquamarine;
	
}

li {
	line-height: 80%;
}

