

#jewels {
	padding: 15px;
	margin: 15px;
}

span {
	margin-left: 10px;
	font-size:1.5rem;
	
}

.jumbotron {
	padding: 12px;
	background-color: cyan;
}
body {
	background: aquamarine;
	font-size:1.5rem;
}
#wins {
	margin-right: 57px;
}